<!DOCTYPE html>
<html>
<head>
  <title>Rails44me</title>

  <!-- CSS -->

  <%= stylesheet_link_tag "site" %>
  <%= stylesheet_link_tag "../extjs/resources/css/ext-all" %>
  <%= stylesheet_link_tag "../extjs/resources/css/xtheme-gray" %>

  <!-- JS -->

  <%= javascript_include_tag "jquery", "rails" %>
  <%= javascript_include_tag "../extjs/adapter/ext/ext-base" %>
  <%= javascript_include_tag "../extjs/ext-all-debug" %>
  <%= javascript_include_tag "../extjs/src/locale/ext-lang-hu" %>
  <%= javascript_include_tag "../ckeditor/ckeditor" %>
  <%= javascript_include_tag "extjs_ckeditor_plugin" %>


  <script type="text/javascript">
    Ext.BLANK_IMAGE_URL = "<%= Rails.root %>/public/images/ext_default_image/s.gif"
  </script>

  <!-- CSRF -->

  <%= csrf_meta_tag %>

</head>
<body>

  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>

  <% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
  <% end %>

  <div id="block_1">
    <div class="container" id="header">
      <div class="span-24">
        <div class="span-12" id="left">
          &nbsp;
        </div>
        <div class="span-12 last" id="right">
          <div id="login_informaciok">
            <% if admin_signed_in? %>
              Time : <b><%= current_admin.current_sign_in_at %></b>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tartalom">
  </div>

  <!-- EXTJS TOOLBAR -->

  <div id="main_content">

  <script type="text/javascript">


      // Ext.BLANK_IMAGE_URL = '/extjs/resources/images/default/s.gif';


      // XSRF protection
      Ext.Ajax.on('beforerequest', function(o) {
          var csrf = Ext.select("meta[name='csrf-token']").first();
          if (csrf) {
              o.defaultHeaders = Ext.apply(o.defaultHeaders || {}, {'X-CSRF-Token': csrf.getAttribute('content')});
          }
      });

      // Hide the DOM class
      // Ext.Element.select(".tartalom").hide();

      if (Ext.Element.select(".notice")) {
        var notice = Ext.Element.select(".notice"); // insert element to a variable

          function slideOutNotice() { //function slide out notice
              notice.slideOut('t', {
                  endOpacity: 0, //can be any value between 0 and 1 (e.g. .5)
                  easing: 'easeOut',
                  duration: 3,
                  remove: true
              });
          }

        setTimeout("slideOutNotice()",2000); // wait 2 seconds before run the slideOutNotice
      }

      var myMask = new Ext.LoadMask(Ext.getBody(), {msg:"Kérem várjon..."});
      // myMask.show();

      var tb = new Ext.Toolbar({
          renderTo: Ext.getBody(),
          autoWidth: true,
          items: [
              {
                  xtype: 'button',
                  icon: '../images/exticons/project.png',
                  text: 'Project administration',
                  handler: function() {
                      myMask.show();
                      Ext.Ajax.request({
                          url: '<%= projects_index_path %>',
                          success: function(response){

                             var response_text = response.responseText;
                              eval(response_text);
                              myMask.hide();
                          },
                          failure: function(resp) {
                              Ext.Msg.alert('Hiba!', 'Probléma történt a válaszadáskor!!');
                          }
                      });
                  }

              },
              '-',
              {
                  xtype: 'button',
                  id: "describe_btn",
                  icon: '../images/exticons/describe.png',
                  text: 'Describe administration',
                  handler: function() {
                      myMask.show();
                      Ext.Ajax.request({
                          url: '<%= describes_index_path %>',
                          success: function(response){
                             var response_text = response.responseText;
                              eval(response_text);
                              myMask.hide();
                          },
                          failure: function(resp) {
                              Ext.Msg.alert('Error!', 'Bad response from server!');
                          }
                      });
                  }
              },
              '-',
              {
                  xtype: 'button',
                  icon: '../images/exticons/search.png',
                  text: 'Search',
                  handler: function() {
                      Ext.Ajax.request({
                          url: '<%= search_path %>',
                          success: function(response){
                             var response_text = response.responseText;
                              eval(response_text);
                          },
                          failure: function(resp) {
                              Ext.Msg.alert('Error!', 'Bad response from server!');
                          }
                      });
                  }
              },
              '->',
              {
                  xtype: 'button',
                  id: 'admin',
                  icon: '../images/exticons/admin.png',
                  text: 'Admins!',
                  handler: function() {
                      Ext.Ajax.request({
                          url: '<%= admin_list_path %>',
                          success: function(response){
                             var response_text = response.responseText;
                             eval(response_text);
                          },
                          failure: function(resp) {
                              Ext.Msg.alert('Hiba!', 'Probléma történt a válaszadáskor!!');
                          }
                      });
                  }

              },
              '-',
              'You logged in with this email : <%= current_admin.email %>',
              '-',
              {
                  xtype: 'box',
                  autoEl: {tag: 'a', href: '<%= destroy_admin_session_path %>', html: 'Logout'}
              }
          ]
      });

  </script>

</div>
</body>
</html>