<!DOCTYPE html>
<html>
<head>
  <title>Rails4me</title>  
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"/>
  <![endif]-->
</head>
<body>

  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  
  <% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
  <% end %>

  <div id="block_1">
    <div class="container" id="header">
      <div class="span-24">
        <div class="span-18" id="left">
          Ra!ls4me          
        </div>
        <div class="span-6 last" id="right">          
          <%= link_to "Kijelentkezés", destroy_admin_session_path %><br/>
        </div>
      </div>
    </div>
  </div>
  
  <div id="block_2">
    <div class="container">
      <div class="span-24">
        <div class="span-18" id="content">
          <div class="text">
            <%= yield %>
          </div>
        </div>
        <div class="span-6 last" id="list">
          <div class="jobb_oldal_project_lista">
            <h1>Available Projects</h1>
            <%= yield :listing_projects %>
            <h1>Available Describes</h1>
            <%= yield :listing_describes %>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
